
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Areas/Uzman/Views/Shared/_UzmanLayout.cshtml";
}


<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Uzman/Product/Listele"><b>PAKETLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Paketler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Uzman/Product/Ekle"><b>PAKET EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Paket Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>