@using Entity
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Areas/Ziyaretci/Views/Shared/_Layout.cshtml";
    List<Category> categories = Query.CategoryList();
}
<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h2>Sağlığı olanın umudu, <span style="color:#ff6d60;"><br />Umudu olanın her şeyi var demektir.</span></h2>
                            <p>
                                Sağlığınız için kendi alanında uzman olan
                                yetkili kişilerle dilediğiniz yerde dilediğiniz
                                zaman hizmet almak artık çok kolay.
                            </p>
                            <div class="banner-btn">
                                <a href="/Ziyaretci/Home/Iletisim" class="default-btn-one">İletişim</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="~/assets/img/slider-1.svg" class="wow zoomIn" data-wow-delay="0.6s" alt="main-image.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-curve"></div>
</div>
<!-- End Main Banner Area -->
<!-- Start About Area -->
<section class="about-section pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <div class="about-main-img">
                        <img src="~/assets/img/about-us.jpg" alt="about-img">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-info">
                    <h5>Hakkımızda</h5>
                    <h2>Sağlık Rehberi Nedir ?</h2>
                    <p>Sağlık Rehberi Spor, Beslenme, Uyku, Psikoloji, Hayat Koçu gibi alanlarda uzman olan yetkili şahıslardan hizmet almak isteyen kullanıcıları bu uzmanlarla buluşturan bir platformdur.</p>
                    <p>Amacımız kullanıcıların uygun fiyatla güvenli ve kaliteli sağlık rehberi hizmetleri dilediği yerde ve dilediği zaman alabilmesidir.  Aynı zamanda da uzmanların daha çok müşteri kitlesine ulaşmasına katkıda bulunmaktır.</p>
                    <p>Kullanıcıları çeşitli kategorilerde uygun fiyata güvenilir ve kaliteli hizmete sahip olabilmesi için yüzde yüz ile çalışıyoruz. </p>
                    <a class="default-btn-one" href="/Ziyaretci/Home/Hakkimizda">Daha fazla bilgi...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Services Section -->
<section class="services-section">
    <div class="container">
        <div class="section-title">
            <span>HİZMETLERİMİZ</span>
            <h3>Hangi Alanda Destek Almak İstersiniz?</h3>
        </div>
        <div class="row">
            @foreach (var item in categories)
            {
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img class="service-icon" src="~/assets/img/services/icon_1578288901.svg" alt="icon" />
                        <img class="hover-img" src="~/assets/img/services/hover_icon_1578287956.svg" alt="icon" />
                    </div>
                    <h3><a href="service-single.html">@item.Name</a></h3>
                    <p>@item.Description </p>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="default-animation">
        <div class="shape-img1"><img src="~/assets/img/shape/12.svg" alt="image"></div>
        <div class="shape-img2"><img src="~/assets/img/shape/13.svg" alt="image"></div>
        <div class="shape-img3"><img src="~/assets/img/shape/14.png" alt="image"></div>
        <div class="shape-img4"><img src="~/assets/img/shape/15.png" alt="image"></div>
        <div class="shape-img5"><img src="~/assets/img/shape/2.png" alt="image"></div>
    </div>
</section>
<!-- End Services Section -->
<!-- Stat Tab Area -->
<section class="tab-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <span>ERİŞİM</span>
            <h3>Hizmetlere Nasıl Erişebilirim?</h3>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-area-full">
                    <ul class="nav tab-list-nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <span class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" role="tab" aria-controls="tab1" aria-selected="true">1. Üye Ol</span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" role="tab" aria-controls="tab2" aria-selected="false"> 2. Makaleleri Oku</span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" role="tab" aria-controls="tab3" aria-selected="false">3. Uzman Seç</span>
                        </li>
                        <li class="nav-item" role="presentation">
                            <span class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" role="tab" aria-controls="tab4" aria-selected="false">4. Satın Al</span>
                        </li>
                    </ul>
                    <div class="tab-content-full" id="myTabContent">
                        <div class="tab-pane tab-item-single fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tab-item-single-content">
                                        <!-- single -->
                                        <div class="single mb-35">
                                            <div class="icon">
                                                <h3>1</h3>
                                            </div>
                                            <div class="content">
                                                <h3>Bilgilerini gir ve üye ol.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-item-single fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tab-item-single-content">
                                        <!-- single -->
                                        <div class="single mb-35">
                                            <div class="icon">
                                                <h3>2</h3>
                                            </div>
                                            <div class="content">
                                                <h3>İlgini çeken konulardan bilgilendirici makaleleri oku ve fikir edin.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-item-single fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tab-item-single-content">
                                        <!-- single -->
                                        <div class="single mb-35">
                                            <div class="icon">
                                                <h3>3</h3>
                                            </div>
                                            <div class="content">
                                                <h3>Gelişmek istediğin kategorilerde uzmanları seç.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tab-item-single fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="tab-item-single-content">
                                        <!-- single -->
                                        <div class="single mb-35">
                                            <div class="icon">
                                                <h3>4</h3>
                                            </div>
                                            <div class="content">
                                                <h3>Uzmanla iletişimi geçerek hizmeti satın al. </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Tab Area -->
<!-- Start mkdf-iwt Area -->
<section class="mkdf-iwt-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="mkdf-iwt-item">
                    <img src="~/assets/img/icon-img-3h.png" alt="img">
                    <h3>Çeşitlilik</h3>
                    <p>Çeşitli kategorilerde farklı uzmanlardan çok çeşitli paketler.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="mkdf-iwt-item">
                    <img src="~/assets/img/icon-img-1h.png" alt="img">
                    <h3>Güvenilir Hizmet</h3>
                    <p>Alanında uzman olan sertifikalı şahıslardan güvenilir hizmet alın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="mkdf-iwt-item">
                    <img src="~/assets/img/icon-img-3h.png" alt="img">
                    <h3>Erişilebilirlik</h3>
                    <p>Bilgisayar, tablet ve cep telefonundan 7/24 erişim imkanı.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End mkdf-iwt Area -->
<!-- Start Choose Section -->
<section class="choose-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="choose-content-area">
                    <span>Neden Sağlık Rehberi?</span>
                    <h3>Güvenilir Hizmetin Adresi</h3>
                    <p>
                        Sizin hayatınızı daha kaliteli, sağlıklı, mutlu ve verimli
                        sürdürebilmeniz bizim de sorumluğumuzdur.
                    </p>
                    <div class="choose-text">
                        <i class="flaticon-check-mark"></i>
                        <h4>MÜŞTERİ ODAKLI</h4>
                        <p>Sizin daha kaliteli hizmet almanız ve memnuniyetiniz önceliğimizdir.</p>
                    </div>
                    <div class="choose-text">
                        <i class="flaticon-check-mark"></i>
                        <h4>UYGUN FİYAT</h4>
                        <p>Uzmanların kira masrafı olmadığı gibi esnek çalışma gibi avantajlar alacağınız hizmet fiyatının oldukça uygun olmasını sağlar.</p>
                    </div>
                    <div class="choose-text">
                        <i class="flaticon-check-mark"></i>
                        <h4>KOLAY KULLANIM</h4>
                        <p>Kullanıcı dostu uygulamamızda size gereken sadece bir ekran ve internet.</p>
                    </div>
                    <div class="choose-btn">
                        <a href="/Ziyaretci/Home/Iletisim" class="default-btn-one">İLETİŞİM</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="choose-image">
                    <img src="~/assets/img/choose-image.svg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Section -->