
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Areas/Ziyaretci/Views/Shared/_Layout.cshtml";
}

    <!-- Start Page Title Area -->
    <div class="page-title-area defaultbg" style="
         background-image:url(/assets/img/footer-bg.jpg);">
        <div class="breadcrumb-overly">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2> Hakkımızda </h2>
                            <ul>
                                <li><a href="/Ziyaretci/Home/Anasayfa">Anasayfa</a></li>
                                <li> Hakkımızda </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start About Area -->
    <section class="about-section pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <div class="about-main-img">
                            <img src="~/assets/img/about-us.jpg" alt="about-img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-info">
                        <h5>Hakkımızda</h5>
                        <h2>Sağlık Rehberi Nedir ?</h2>
                        <p>Sağlık Rehberi Spor, Beslenme, Uyku, Psikoloji, Hayat Koçu gibi alanlarda uzman olan yetkili şahıslardan hizmet almak isteyen kullanıcıları bu uzmanlarla buluşturan bir platformdur.</p>
                        <p>Amacımız kullanıcıların uygun fiyatla güvenli ve kaliteli sağlık rehberi hizmetleri dilediği yerde ve dilediği zaman alabilmesidir.  Aynı zamanda da uzmanların daha çok müşteri kitlesine ulaşmasına katkıda bulunmaktır.</p>
                        <p>Kullanıcıları çeşitli kategorilerde uygun fiyata güvenilir ve kaliteli hizmete sahip olabilmesi için yüzde yüz ile çalışıyoruz. </p>
                        <br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->