
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Areas/Ziyaretci/Views/Shared/_Layout.cshtml";
}

    <!-- Start Page Title Area -->
    <div class="page-title-area defaultbg" style="
         background-image:url(/assets/img/page.png);">
        <div class="breadcrumb-overly">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2> Hakkımızda </h2>
                            <ul>
                                <li><a href="/Ziyaretci/Home/Anasayfa">Anasayfa</a></li>
                                <li> Hakkımızda </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <!-- Start About Area -->
    <section class="about-section pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <div class="about-main-img">
                            <img src="~/assets/img/about-us.jpg" alt="about-img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-info">
                        <h5>Hakkımızda</h5>
                        <h2>We Provide Quality Computor & Mobile Repair Services</h2>
                        <p>Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante venenatis.</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->
    <!-- Start Features Area -->
    <section class="features-area">
        <div class="container">
            <div class="features-title">
                <span>OUR CORE VALUES</span>
                <h3>Create Awesome Service With Our Tools</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-seo"></i>
                            </div>
                            <h3>HONESTY</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-analytics"></i>
                            </div>
                            <h3>PRIDE</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-about-featrures-full">
                        <div class="single-features-item">
                            <div class="icon">
                                <i class="flaticon-laptop"></i>
                            </div>
                            <h3>IMPROVEMENT</h3>
                            <p>codepopular Solutions is a quality focused organization underpinned by a process of Continuous Improvement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->