
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/Category/Listele"><b>KATEGORİLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Kategoriler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/Category/Ekle"><b>KATEGORİ EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Kategori Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/Article/Listele"><b>MAKALELER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Makaleler</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/Article/Ekle"><b>MAKALE EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Makale Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/ZiyaretciListele"><b>ZİYARETÇİLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Ziyaretçiler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/ZiyaretciEkle"><b>ZİYARETÇİ EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Ziyaretçi Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/UzmanListele"><b>UZMANLAR</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Uzmanlar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/UzmanEkle"><b>UZMAN EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Uzman Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/AdminEkle"><b>ADMİNLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Uzmanlar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Admin/User/AdminEkle"><b>ADMİN EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Admin Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>