@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uzman Kayıt Ol</title>
    <!-- Font Icon -->
    @*<link rel="stylesheet" href="~/Content/register/css/material-design-iconic-font.min.css">*@
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/register/css/style.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 40px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="main">
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Uzman Kayıt Ol</h2>
                        <form action="@Url.Action("RegisterUzman","Account",new {area="" })" method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="UserName" id="username" placeholder="Kullanıcı Adınız" required="" />
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="FirstName" id="name" placeholder="Adınız" required="" />
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="LastName" id="lastname" placeholder="Soyadınız" required="" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="Email" id="email" placeholder="E-mail" required="" />
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="Password" id="pass" placeholder="Şifre" required="" />
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" name="PhoneNumber" id="phonenumber" placeholder="Telefon Numaranız" required="" />
                            </div>
                            <div class="form-group">
                                <label for="title"><i class="zmdi zmdi-book"></i></label>
                                <input type="text" name="Title" id="title" placeholder="Branş" required="" />
                            </div>
                            <div class="form-group">
                                <label for="facebook"><i class="zmdi zmdi-facebook"></i></label>
                                <input type="text" name="Facebook" id="facebook" placeholder="Facebook Profiliniz" />
                            </div>
                            <div class="form-group">
                                <label for="instagram"><i class="zmdi zmdi-twitter"></i></label>
                                <input type="text" name="Instagram" id="instagram" placeholder="Instagram Profiliniz" />
                            </div>
                            <div class="form-group">
                                <label for="linkedin"><i class="zmdi zmdi-linkedin"></i></label>
                                <input type="text" name="Linkedin" id="linkedin" placeholder="Linkedin Profiliniz" />
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required="" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>  <a id="myBtn" class="term-service"><u>Hizmet şartlarını</u> </a> kabul ediyorum.</label>
                                <!-- The Modal -->
                            </div>
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <!-- Hizmet Şartları:Begin-->
                                    <iframe src="" style="width:100%;height:500px;"></iframe>
                                    <!-- Hizmet Şartları: End-->
                                </div>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Kayıt Ol" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/Content/register/img/signup-image.jpg" alt="sing up image"></figure>
                        <a href="@Url.Action("Login","Account", new { area ="" })" class="signup-image-link">Üyeliğim Var.</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/Content/register/vendor/js/jquery.min.js"></script>
    <script src="~/Content/register/vendor/js/main.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>